doctype 5
html
    head
        title Snippet
        link(rel="stylesheet", href="/css/style.css")
        block css
    body
        block content
        block footer
            footer
                p Copyright &copy; 2012 YASnip Akeda Bagus &lt;<a href="mailto:admin@gedex.web.id">admin@gedex.web.id</a>&gt;
        block js